.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    color: white;
    transition: all 0.5s ease;
}

/* navbar-styles */

header {
    background: linear-gradient(#a9a9a924, #ffffff24, #1a1a1a30);
}

.navbar {
    display: flex;
    justify-content: space-between;
    max-width: 1140px;
    margin: 0 auto;
    padding-top: 58px;
}

.navbar .fa-bars {
    display: none;
}

.navbar ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    border: 2px solid rgba(255, 255, 255, 0.1);
    border-radius: 39px;
}

.navbar ul #home {
    padding: 8px 20px 8px 20px;
    border-radius: 46px;
    background: rgb(230, 83, 60);
    margin-left: 2px;
}

/* .navbar ul #about {
    margin-right: 18px;
} */

.navbar h1 {
    color: rgb(230, 83, 60);
    font-size: 36px;
    font-weight: 800;
    font-style: italic;
}


.navbar ul li a {
    text-decoration: none;
    padding: 8px 20px 8px 20px;
    color: rgb(255, 255, 255);
    font-size: 18px;
    transition: all 0.5s ease;
}

.navbar ul li a:hover {
    background: rgb(230, 83, 60);
    padding: 8px 20px 8px 20px;
    border-radius: 46px;

}

.banner {
    display: flex;
    max-width: 1140px;
    margin: 0 auto;
    padding-bottom: 160px;
}

.banner-text {
    max-width: 500px;
    margin-top: 97px;
}

.banner-title {
    color: rgb(255, 255, 255);
    font-size: 76px;
    font-weight: 900;
}

.banner-title #font-style {
    font-family: math;
    font-weight: 900;
    font-style: italic;


}

.banner-description {
    color: rgba(255, 255, 255, 0.5);
    font-size: 16px;
    margin-top: 28px;
}

.btn1 {
    padding: 16px 40px 16px 40px;
    border-radius: 42px;
    background: rgb(230, 83, 60);
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 600;
    border: none;
    margin-top: 28px;
    cursor: pointer;
}

.btn2 {
    padding: 16px 40px 16px 40px;
    border-radius: 42px;
    border: 1px solid rgb(255, 255, 255);
    background: transparent;
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 600;
    margin-top: 28px;
    margin-left: 14px;
    cursor: pointer;
}

.banner-image {
    margin-top: 32px;
    margin-left: 167px;
}


.card-1 {
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.1);
    position: relative;
    padding: 16px 24px;
    margin-top: -460px;
    width: 130px;
    margin-left: 218px;
}

.card-1 .card-1-title {
    color: rgb(255, 255, 255);
    font-size: 40px;
    font-weight: 900;
    text-align: left;

}

.card-1 .card-1-text {
    color: rgba(255, 255, 255, 0.65);
    font-size: 13px;
    text-align: left;
}

.card-2 {
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.1);
    position: relative;
    padding: 16px 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 150px;
    position: relative;
    margin-top: 200px;
    margin-left: -95px;
}

.card-2 .card-2-title {
    color: rgb(250, 250, 249);
    font-size: 24px;
    font-weight: 900;
}

.card-2-text {
    color: rgba(239, 237, 232, 0.65);
    font-size: 16px;
    margin-top: 5px;
}

.card-2 .ball {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background: rgb(230, 83, 60);
    display: flex;
    align-items: center;
    justify-content: center;
}

/* main styles */

main {
    max-width: 1140px;
    margin: 0 auto;
}

.habits {
    /* margin-top: 160px; */
}

.habits-title {
    color: rgb(255, 255, 255);
    font-size: 48px;
    font-weight: 900;
    text-align: center;
}

.habits-description {
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    text-align: center;
    margin-top: 14px;
}

.habits-container {
    margin-top: 58px;
    display: flex;
    gap: 40px;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.box .box-title {
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 600;
    margin-top: 30px;
}

.box .box-description {
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-weight: 400;
    margin-top: 6px;
}

.habits-container .box img {
    /* width: 100%; */
    border-radius: 50%;
}

/* Run an Extra Mile Easily styles */


.run {
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 18px;
    background: rgb(34, 34, 34);
}

.run-image {
    padding: 30px 32px 30px 0px;
}

.run-image img {
    width: 100%;
    border-radius: 18px;
}

.run-title {
    color: rgb(255, 255, 255);
    font-size: 47px;
    font-weight: 900;
}

.run-description {
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    margin-top: 14px;
}

.run-text {
    padding: 0 165px 0 54px;
}

.run-text .btn1 {
    margin-top: 34px;
}


/* table & input styles */


.bmi {
    margin-top: 78px;
}

.bmi-title {
    color: rgb(255, 255, 255);
    font-size: 48px;
    font-weight: 900;
    width: 570px;
    margin: 0 auto;
}

.bmi-description {
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-weight: 400;
    margin-top: 14px;
    width: 570px;
    margin: 0 auto;
}

table {
    border-collapse: collapse;
}

th {
    border: 1px solid rgba(255, 255, 255, 0.1);
    color: rgb(255, 255, 255);

    font-size: 16px;
    font-weight: 500;
    text-align: left;
    padding: 10px 16px;
}

td {
    border: 1px solid rgba(255, 255, 255, 0.1);
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    text-align: left;
    padding: 10px 16px;
}

/* BMI-Responsive-styles */

.bmi-chart-title {
    color: rgb(255, 255, 255);
    font-size: 28px;
    font-weight: 900;
    margin: 52px 0;
}

.table-input {
    background: rgb(34, 34, 34);
    width: 100%;
    margin-top: 88px;
}

.table-and-input {
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.form-title {
    color: rgb(255, 255, 255);
    font-size: 28px;
    font-weight: 900;
    margin-top: 52px;
}

.form-description {
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-weight: 400;
    width: 500px;
    margin-top: 14px;
}

form {
    margin-top: 34px;
}

#text {
    padding: 12px 40px 12px 20px;
    border-radius: 8px;
    border: none;
    background: rgba(255, 255, 255, 0.1);
    color: rgb(177 177 177 / 50%);
    font-size: 16px;
    margin: 5px 10px 10px 0
}

.gender {
    width: 255px;
}

.select {
    width: 524px;
}

.btn3 {
    margin-bottom: 50px;
}

/* Team-styles */

.team {
    margin-top: 100px;
}

.team-title {
    color: rgb(255, 255, 255);
    font-size: 48px;
    font-weight: 900;
    text-align: center;
}

.team-description {
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    text-align: center;
    margin-top: 14px;
    margin-bottom: 70px;
}

.trainer-container {
    width: 1140px;
    margin: 0 auto;
    border-radius: 18px;
    background: rgb(34, 34, 34);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    padding: 30px;
}

.trainer-card {
    /* padding: 20px 20px 10px 10px; */
}

.trainer-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 18px;

}

.name {
    margin: -70px 0px 5px 20px;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 800;
}

.position {
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-weight: 400;
    margin-left: 20px;
}


/* Footer-styles */


footer {
    width: 100%;
    background-color: rgb(34, 34, 34);
    margin-top: 100px;
}

.text-container {
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.text-box {
    margin-top: 70px;
}

.fitness {
    color: rgb(230, 83, 60);
    font-size: 60px;
    font-weight: 900;
    font-style: italic;
}

.fitness-description {
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    width: 370px;
    margin-top: 14px;
}

.text-box ul li {
    color: rgba(255, 255, 255, 0.5);
    font-size: 18px;
    margin-top: 20px;
    list-style: none;
    cursor: pointer;
}

.text-box .text-title {
    margin-bottom: 35px;
}

.last-text {
    max-width: 1140px;
    margin: 0 auto;

}

.divider {
    margin-top: 75px;
    height: 2px;
    background-color: rgb(124 124 124 / 50%);
}

.footer-description {
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
    font-size: 18px;
    padding: 40px 0;
}











/* responsive styles */

@media screen and (max-width:576px) {
    .navbar {
        width: 90%;
    }

    .navbar .fa-bars {
        display: block;
        font-size: 18px;
    }

    .navbar ul {
        display: none;
    }

    .banner {
        flex-direction: column;
        width: 90%;
    }

    .banner-text {
        width: 100%;
        margin-top: 51px;
    }

    .banner-title {
        color: rgb(255, 255, 255);
        font-size: 36px;
        font-weight: 900;
        width: 285px;
    }

    .banner-description {
        color: rgba(255, 255, 255, 0.5);
        font-size: 16px;
        font-weight: 400;
        width: 274px;
        text-align: left;
    }

    .btn-container {
        display: flex;
    }

    .btn1,
    .btn2 {
        padding: 16px 30px 16px 30px;
        font-size: 14px;
        display: ;
    }

    .banner-image {
        margin-left: 0;
        margin-top: 48px;
    }

    .banner-image img {
        width: 100%;
    }

    .card-1 {
        margin-top: -500px;
        width: 100px;
        margin-left: 180px;
        padding: 10px 16px
    }

    .card-1 .card-1-title {
        font-size: 30.24px;
        font-weight: 900;
    }

    .card-1 .card-1-text {
        font-size: 9.83px;
        font-weight: 400;
    }

    .card-2 {
        margin-top: 165px;
        margin-left: 21px;
        width: 120px;
        padding: 10px 16px;
    }

    .card-2 .card-2-title {
        font-size: 18.14px;
        font-weight: 900;
    }

    .card-2 .card-2-text {
        font-size: 12.1px;
        font-weight: 400;
    }

    .card-2 .ball {
        height: 30px;
        width: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    /* habits-section */

    main {
        width: 90%;
    }

    .habits {
        margin-top: 280px;
    }

    .habits-title {
        font-size: 32px;
    }

    .habits-container {
        flex-direction: column;
    }

    .box .box-description {
        width: 230px;
    }

    .run {
        flex-direction: column;
    }

    .run-text {
        padding: 31px 30px 0 30px;
    }

    .run-title {
        font-size: 32px;
    }

    .run-image {
        padding: 31px 33px 35px 33px;
    }

    .run-text .btn1 {
        /* padding:  16px 105px 16px 105px; */
        width: 100%;
    }

    .table-and-input {
        flex-direction: column;
        width: 90%;
    }

    .bmi-title,
    .bmi-description {
        width: 90%;
    }

    .bmi-title {
        font-size: 40px;
        margin-bottom: 8px;
    }

    .form-description {
        width: 90%;
    }

    #text {
        padding: 12px 0px 12px 4px;
        font-size: 10px;
    }

    .gender {
        width: 128px;
    }

    .select {
        width: 268px;
    }

    .btn3 {
        padding: 16px 50px 16px 50px;
        font-size: 17px;
    }

    /* Team-Responsive-styles */


    .trainer-container {
        grid-template-columns: repeat(1, 1fr);
        width: 75%;
    }

    .team-title {
        font-size: 35px;
    }

    .team-description {
        width: 334px;
        margin: 0px auto;
        margin-top: 14px;
        margin-bottom: 70px;

    }


    /* Footer-Responsive-styles */



    .text-container {
        flex-direction: column;
        width: 90%;
    }

    .fitness-description {
        width: 280px;
    }

    .last-text {
        width: 90%;
    }
}